<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Blog</title>
  <link rel="stylesheet" href="addblog.css">
 
</head>
<body>

  <!-- Navbar -->
   <%- include("navbar.ejs") %>

  <!-- Add Blog Form -->
  <div class="form-container">
    <h2>Add New Blog</h2>
    <form action="/addblog" method="post" enctype="multipart/form-data">
      <div class="form-group">
        <label for="title">Blog Title</label>
        <input type="text" id="title" name="title" placeholder="Enter blog title" required>
      </div>
      <div class="form-group">
        <label for="subtitle">Subtitle</label>
        <input type="text" id="subTitle" name="subTitle" placeholder="Enter blog subtitle">
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea id="description" name="description" placeholder="Write your blog description..." required></textarea>
      </div>
      <div class="form-group">
        <label for="title">image</label>
        <input type="file" id="image" name="image" placeholder="upload image here" required>
      </div>
      <button type="submit" class="btn">Submit Blog</button>
    </form>
  </div>

  <!-- Footer -->
 <%- include("footer.ejs") %>

</body>
</html>
