<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Register Form</title>
  <link rel="stylesheet" href="register.css">

</head>
<body>

     <%- include("navbar.ejs") %>


  <!-- Register Form -->
  <div class="form-container">
    <h2>Register</h2>
    <form action="/register" method="post">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" placeholder="Enter your email" required>

      <label for="username">Username</label>
      <input type="text" id="userName" name="userName" placeholder="Choose a username" required>

      <label for="password">Password</label>
      <input type="password" id="password" name="password" placeholder="Enter your password" required>

      <button type="submit">Register</button>
    </form>
  </div>

  <!-- Footer -->
 <%- include("footer.ejs") %>

</body>
</html>
